@font-face {
    font-family: 'action_man_extendedbold';
    src: url('police/Action_Man_Extended_Bold-webfont.eot');
    src: url('police/Action_Man_Extended_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/Action_Man_Extended_Bold-webfont.woff2') format('woff2'),
         url('police/Action_Man_Extended_Bold-webfont.woff') format('woff'),
         url('police/Action_Man_Extended_Bold-webfont.ttf') format('truetype'),
         url('police/Action_Man_Extended_Bold-webfont.svg#action_man_extendedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


  body {
	font-family: 'Roboto';
	font-size: 14px;
	text-align: justify;
	font-weight: 400;
	background-color: #eee;
  }
  
  h1 {
	font-size: 180%;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 400;
	text-align: left;
  }
  
  h2 {
	font-size: 110%;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	text-align: left;
  }
  
  h3 {
	font-size: 100%;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: left;
  }

	/*PRESENTATION*/

.presentation{
	padding-top: 400px;
	position: relative;
	background-size: cover; 
	z-index: 1;
	background-image: url(CV\ MODEL/images/slider-1-1920x1080.jpg);
}

.blockpresentation{
	background: #f5f5f5;
	text-align: center;
	border: hidden;
	margin-bottom: -100px;
}
.presentation .photo{
	height: 200px;
	width: 200px;
	margin: 0 auto; 
	position: relative;
	top: -100px;
	margin-bottom: -70px;
}

.textpresentation h1{
	text-align: center;
	font-style: bold;
}

.textpresentation li{
	list-style-type: none; 
}
	/*FIN PRESENTATION*/

	/*EXPERIENCES*/

.experiences{
	margin-top:200px;
}
.firmeName{
		padding:10px, 10px, 10px, 0px;
		}

#lirelasuite1, #lirelasuite2 {
	display:none;}

  .timeline {
	position: relative;
  }
  .timeline::before {
	content: '';
	background: #C5CAE9;
	width: 5px;
	height: 95%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
  }
  
  .timeline-item {
	width: 100%;
	margin-bottom: -60px;
  }
  .timeline-item:nth-child(even) .timeline-content {
	float: right;
	padding: 30px 20px 10px 20px;
  }
  .timeline-item:nth-child(even) .timeline-content .date {
	right: auto;
	left: 0;
  }
  .timeline-item:nth-child(even) .timeline-content::after {
	content: '';
	position: absolute;
	border-style: solid;
	width: 0;
	height: 0;
	top: 30px;
	left: -15px;
	border-width: 10px 15px 10px 0;
	border-color: transparent #f5f5f5 transparent transparent;
  }
  .timeline-item::after {
	content: '';
	display: block;
	clear: both;
  }
  
  .timeline-content {
	position: relative;
	width: 45%;
	padding: 30px 20px 10px 20px;
	border-radius: 4px;
	background: #f5f5f5;
	box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  }
  .timeline-content::after {
	content: '';
	position: absolute;
	border-style: solid;
	width: 0;
	height: 0;
	top: 30px;
	right: -15px;
	border-width: 10px 0 10px 15px;
	border-color: transparent transparent transparent #f5f5f5;
  }
  
  .timeline-img {
	width: 30px;
	height: 30px;
	background: #3F51B5;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-top: 25px;
	margin-left: -15px;
  }
  
  section a {
	background: #3F51B5;
	color: #FFFFFF;
	padding: 8px 20px;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 10px;
	display: inline-block;
	border-radius: 2px;
	box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
  }
  a:hover, a:active, a:focus {
	background: #32408f;
	color: #FFFFFF;
	text-decoration: none;
  }
  
  .timeline-card {
	padding: 0 !important;
  }
  .timeline-card p {
	padding: 0 20px;
  }
  .timeline-card a {
	margin-left: 20px;
  }
  
  .timeline-img-header {
	height: 200px;
	position: relative;
	margin-bottom: 20px;
  }
  .timeline-img-header h2 {
	color: #FFFFFF;
	position: absolute;
	bottom: 5px;
	left: 20px;
  }
  
  blockquote {
	margin-top: 30px;
	color: #757575;
	border-left-color: #3F51B5;
  }
  
  .date {
	background: #FF4081;
	opacity: 0.9;
	display: block;
	color: #FFFFFF;
	padding: 10px;
	float: right;
	font-size: 80%;
	border-radius:10px;
	text-align: center;
  }

  .missions{
	display: block;
	float: right;
	padding-top:10px;
  }
/*FIN EXPERIENCES*/

	@media screen and (max-width: 768px) {
		.timeline::before {
			left: 50px;
		}
		.timeline-item {
			width: 100%;
			margin-bottom: 70px;
		}
		.timeline .timeline-img {
			left: 50px;
		}
		.timeline .timeline-content {
			max-width: 100%;
			width: auto;
			margin-left: 70px;
		}
		.timeline .timeline-item:nth-child(even) .timeline-content {
			float: none;
		}
		.timeline .timeline-item:nth-child(odd) .timeline-content::after {
			content: '';
			position: absolute;
			border-style: solid;
			width: 0;
			height: 0;
			top: 30px;
			left: -15px;
			border-width: 10px 15px 10px 0;
			border-color: transparent #f5f5f5 transparent transparent;
		}
	}
	
		
  @media all and (max-device-width: 480px) {
	a.navbar-brand{

	  body {
		font-size: 35px;
	  }
	    
	  h2 {
		font-size: 110%;
	  }
	  
	  h3 {
		font-size: 100%;
		}
		
		section a {
			font-size: 90%;
			}

	.timeline::before {
	  left: 50px;
	}
	.timeline .timeline-img {
	  left: 50px;
	}
	.timeline-item {
		width: 100%;
		margin-bottom: 70px;
	}
	.timeline .timeline-content {
	  max-width: 100%;
	  width: auto;
	  margin-left: 0px;
	}
	.timeline .timeline-item:nth-child(even) .timeline-content {
	  float: none;
	}
	.timeline .timeline-item:nth-child(odd) .timeline-content::after {
	  content: '';
	  position: absolute;
	  border-style: solid;
	  width: 0;
	  height: 0;
	  top: 30px;
	  left: -15px;
	  border-width: 10px 15px 10px 0;
	  border-color: transparent #f5f5f5 transparent transparent;
	}

  }
  